*{
    margin: 0;
    padding:0;
}

a {
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: auto;
}
#header{
    position:absolute;
    left:250px;
    top:30px;

}
.header-nev{
    font-family:sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 15px;
}
#hero{
    background: url("../igm2/Rectangle 6.png") no-repeat center/cover;
    min-height: 100vh;
}
.hero-blog{

    background: rgba(0, 0, 0, 0.51);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    width: 561px;
    height: 668px;
    position:absolute;
    top:30px;
    right:60px ;

}
.hero-title{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 30px;
}
.hero-item{
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 60px;
    margin-bottom: 15px;
}
.hero-input{
    width: 427px;
    height: 60px;
    background: rgba(255, 255, 255, 0.26);
    border: 2px solid #CCAA90;
    box-sizing: border-box;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.26), -10px -10px 24px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}
.hero-btn{
    width: 427px;
    height: 94px;

    background: #FF903C;
    border: 2px solid #CCAA90;
    box-sizing: border-box;
    box-shadow: 10px 10px 18px rgba(255, 255, 255, 0.26), -10px -10px 24px rgba(255, 255, 255, 0.26);
    border-radius: 20px;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    margin-left: 60px;
    cursor: pointer;
    transition: .4s;
}
.hero-btn:hover{
    background: #000;
    color: forestgreen;
}
.hero-square{
    width: 75px;
    height: 75px;
    left: 258px;
    top: 225px;

    background: #FF6F00;
    border: 1px solid #FF6F00;
    box-sizing: border-box;
    box-shadow: 1px 1px 15px #FF6F00;
}